/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Add this CSS to your stylesheets */

.update-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .menus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .menu {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
  }
  
  .menu-date {
    font-size: 24px;
    margin: 0;
  }
  
  .menu-time {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    font-size: 16px;
    margin: 5px 0;
  }
  